$bgGrey:rgb(100, 100, 100);
$brdGrey: rgb(50, 50, 50);
$appGrey: rgb(41, 59, 65);
$scoreGrey: rgb(31, 28, 63);
$scoreBrdGrey: rgb(20, 20, 20);
$missedBlue: rgb(8, 183, 226);  
$hitRed: rgb(226, 14, 14);